.form-group
  label(for="name") 여행자 이름
  input.form-control(type="text", name="name", placeholder="여행자 이름", value=reservation.name)
.form-group
  label(for="phone") 핸드폰 번호
  input.form-control(type="text", name="phone", placeholder="010-xxxx-xxxx", value=reservation.phone)
.form-group
  table.table#price
    thead
      tr
        th 
        th 상품명
        th 단가
        th 인원
        th 가격
    tbody
      tr
        td
        td= product.title
        td.price= product.price
        td
          input.form-control(type="number", id="personnel", name="personnel", placeholder="인원 수", value=reservation.personnel)
        td
          input.form-control(type="number", id="totalPrice", name="totalPrice", value=reservation.price)
.form-group
  label(for="bookDate") 예약일
  input.datepicker(width='276', name="bookDate", value= reservation.bookDate) 


