extends ../layout

block content
  .container
    h1.main-title 예약 상세 내역

    table.table.table-hover
      h2 예약자 정보
      thead
        tr
          th Name
          th Email
          th Created At
          th
      tbody
        tr
          td= reservation.booker.name
          td= reservation.booker.email
          td= moment(reservation.booker.createdAt).format('YYYY-MM-DD HH:mm:ss')
          td      
    h2 에약 정보

    dl.row
      dt.col-md-3 상품명
      dd.col-md-9= reservation.product.title 
      dt.col-md-3 인원
      dd.col-md-9= reservation.personnel
      dt.col-md-3 가격
      dd.col-md-9= reservation.price
      dt.col-md-3 예약 날짜
      dd.col-md-9= reservation.bookDate

    hr
    p
      if(currentUser.admin || currentUser.guide)
        a.btn.btn-outline-primary(href=`/users/reservations/${reservation.id}/edit`) 정보 수정 
        | 
      a.btn.btn-outline-danger.need-confirm-btn(href=`/users/reservations/${reservation.id}?_method=DELETE`) 예약 삭제     

