extends ../layout

block content
  .container
    h1.main-title= user.name
          
    dl.row
      dt.col-md-3 Name
      dd.col-md-9= user.name 
      dt.col-md-3 Email
      dd.col-md-9
        a(href=`mailto:${user.email}`)= user.email

      dt.col-md-3 Created At
      dd.col-md-9= user.createdAt
      dt.col-md-3 예약 내역
      dd.col-md-9 
        a(href=`/users/reservations/${currentUser._id}`)= 보러가기
    hr
    p
      a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) 정보 수정
      | 
      a.btn.btn-outline-danger.need-confirm-btn(href=`/users/${user._id}?_method=DELETE`) 회원 탈퇴
