extends _share

block content
  .container
    h1.main-title= product.title

    .product.detail
      include _product
    
      .buttons
        button.btn.btn-primary.product-whislist-btn(data-id=product.id)
          span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
          span #[i.fa.fa-thumbs-up] wishlist
        a.btn.btn-sm.btn-outline-secondary(href=`/products/reservation/${product.id}`) 
          | #[i.fa.fa-pencil] 예약하기
    hr
    h4.meeting 만나는 시간
    |
    .product.meeting= product.meeting
    |
      
    .product.content.detail
      #{product.detail_content}
    |
    .product.course=product.course
    |

    #fb-root
    .fb-share-button(data-href=`https://agile-escarpment-42602.herokuapp.com/products/${product.id}` data-layout='button_count')


    if currentUser
      if reservation 
        hr
        h2 후기 남기기
        form(action=`/products/comment/${product.id}`, method='POST', enctype="multipart/form-data")
          .form-group
            label(for="title") 제목
            input.form-control(type="text", name="title", placeholder="제목")
            include _starrating
          .form-group
            label(for='content') 내용
            textarea.form-control(name="content", rows="5")
          .form-group
            label(for='img') 여행사진
            input.form-control(type="file", name="img")
          
          button.btn.btn-primary(type="submit") 후기등록
    
    if product.numComments > 0
      hr
      p 총 #{product.numComments}개의 후기들
      .comments.detail
        each comment in comments
          include _comment

  script(src='/javascripts/whislist.js')
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));






    